%h1 Walkintour

%table.table.table-hover
  %thead
    %tr
      %th Residential(SQFT)
      %th Price
      %th


    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= number_to_currency product.price
        %td= image_tag product.image.thumb
        %td
          = link_to 'Edit', edit_product_path(product)
          = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%p= link_to 'Next', new_product_path, class: "btn btn-primary"
